<!DOCTYPE html>
<html>
<head>
    <title>Text Conversion Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Text Conversion Tool</h1>
    <form method="POST">
        <textarea name="text"
                  placeholder="Paste your text here."></textarea><br>
        <select name="template">
            <option value="index">Cornell Notes</option>
            <option value="corenll">Corenll Output</option>
            <option value="prescription">Doctor Prescription</option>
            <option value="receipt">Receipt</option>
            <option value="custom">Custom Template</option>
        </select>
        <input type="submit" value="Convert">
    </form>
</body>
</html>